<section  [ngClass]="'entities-pop-up '+ hide" >
  <div [ngClass]="'alert '+alertState" *ngFor="let message of messageList">
      <div [ngClass]="message.type">{{message.message}}</div>
  </div>
  <form [action]="route" [method]="method" (ngSubmit)="onSubmit($event)"  [formGroup]="form">
      <article>
          <label for="name">Nombre</label>
          <input id="name" type="text" formControlName="name" [value]="this.form.value.name" />
      </article>
    <article>
      <label for="nit">NIT</label>
      <input id="nit" type="text" formControlName="nit" [value]="this.form.value.nit"  />
    </article>
    <article>
      <label for="address">Dirección</label>
      <input id="address" type="text" formControlName="address"  [value]="this.form.value.address" />
    </article>
    <article>
      <label for="phone">Telefono</label>
      <input id="phone" type="text" formControlName="phone" [value]="this.form.value.phone"  />
    </article>
    <article>
      <label for="email">Email</label>
      <input id="email" type="text" formControlName="email" [value]="this.form.value.email" />
    </article>
    <article>
      <button type="submit" [disabled]="isDisable">{{labelButton}}</button>
    </article>
  </form>
</section>
